@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    max-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    padding: 0 25px;
}

.container .card {
    background-color: var(--card-bg);
    width: 350px;
    padding: 25px;
    border-radius: 15px;
}

.container .card .nft-image-link{
    position: relative;
    display: flex;
}

.container .card .nft-image-link::before {
    content: "";
    background-color: cyan;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-radius: 8px;
    opacity: 0.0;
}

.container .card .nft-image-link::after {
    content: "";
    background: url(../images/icon-view.svg) no-repeat center;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    opacity: 0;
}

.container .card .nft-image-link:hover::before {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.container .card .nft-image-link:hover::after {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.container .card .nft-image {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* margin-bottom: 20px; */
}

.container .card .titulo {
    font-size: 22px;
    color: white;
    margin-top: 20px;
    margin-bottom: 18px;
}

.container .card .titulo:hover {
    color: var(--primary-medium);
}

.container .card .descricao {
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-soft);
    line-height: 26px;
    margin-bottom: 22px;
}

.container .card .preco-e-tempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.container .card .preco-e-tempo .preco {
    color: var(--primary-medium);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.container .card .preco-e-tempo .preco::before{
    content: "";
    background: url(../images/icon-ethereum.svg) center no-repeat;
    display: inline-block;
    width: 11px;
    height: 18px;
    margin-right: 8px;
}


.container .card .preco-e-tempo .tempo {
    color: var(--primary-soft);
    display: flex;
    align-items: center;
}

.container .card .preco-e-tempo .tempo::before{
    content: "";
    background: url(../images/icon-clock.svg) center no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.container .card .criador {
    display: flex;
    height: 100%;
    align-items: center;
    border-top: 1px solid var(--primary-soft);
    padding-top: 17px;
}

.container .card .criador .avatar {
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
}

.container .card .criador .creation-text {
    margin-left: 17px;
    color: var(--primary-soft);
    font-weight: 300;
}

.container .card .criador .creation-text .criador-link {
    margin-left: 2px;
    color: white;
    
}

.container .card .criador .creation-text .criador-link:hover {
    color: var(--primary-medium);
}